@model GesNaturaMVC.ViewModels.EspecieViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Nome)</h2>
<div id="div-left">
    <div class="slideshow-container">
        @foreach (var item in Model.listaFotosVM)
        {
            <div class="mySlides fadeFoto">
                @*<div class="numbertext">1 / 3</div>*@
                <img src="@Url.Content(item.Caminho)" style="width:90%">
            </div>
            @*<div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    
                </div>*@
        }
        @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>*@
    </div>
    @*<div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>*@
</div>
   
<br>





    <div id="div-right">
        <h4>Detalhes</h4>
        <dl>
            <dt style="font-size:medium">Descricao: </dt>
            <dd>@Model.Descricao</dd>
            <dt style="font-size:medium">Calendário: </dt>
            <dd>@Model.Calendario</dd>
            <dt style="font-size:medium">Abundância: </dt>
            <dd>@Model.Abundancia</dd> 
        </dl>
        
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @*@Html.ActionLink("Next","Details", new { id = Model.ID + 1 }) |
            <a href="ViewBag.NextID">Next</a> |*@
            @Html.ActionLink("Adicionar Imagem","Create","FotoAtlas") |
            @Html.ActionLink("Back to List", "Index")

        </p>

    </div>

    
    
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    //var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    //for (i = 0; i < dots.length; i++) {
    //    dots[i].className = dots[i].className.replace(" active", "");
    //}
    slides[slideIndex-1].style.display = "block";
    //dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 5000); // Muda a cada 5 segundos
}
</script>

